@model Homework_mvc.Entities.Article
@{
    ViewBag.Title = "Home Page";
}

<h2 class="text-center m-3">Статьи</h2>
@foreach (var a in ViewBag.Articles)
{<div class="card mb-3 text-center">
    <img src="@a.Images" class="card-img-top" >
    <div class="card-body">
        <h5 class="card-title">@a.Title</h5>
        <p class="card-text">@a.Text</p>
        <div class="card-footer text-muted"> Дата публикации: @a.Date.ToShortDateString()</div>
    </div>
</div>
  
}

